services:
  nodejs-GCS:
    build:
      context: ./servers/nodejs-GCS
      dockerfile: dockerfile
    container_name: pharmetrix-nodejs-GCS
    environment:
      - NODE_ENV=production
      - PORT=4200
    ports:
      - "4200:4200"

  fastapi-ODECS:
    build:
      context: ./servers/fastapi-ODECS
      dockerfile: dockerfile
    container_name: pharmetrix-fastapi-ODECS
    environment:
      - PORT=8000
      - CORS_ALLOWED_ORIGINS=*
    ports:
      - "8000:8000"

  react-global:
    build:
      context: ./clients/react-global
      dockerfile: Dockerfile
    container_name: pharmetrix-react-global
    ports:
      - "5000:80"
    depends_on:
      - nodejs-GCS

  react-ODEMC:
    build:
      context: ./clients/react-ODEMC
      dockerfile: Dockerfile
    container_name: pharmetrix-react-ODEMC
    ports:
      - "5001:80"
    depends_on:
      - nodejs-GCS
      - fastapi-ODECS

# Optional networks/volumes can be added as needed